In [1]:
print("hey")

hey

In [ ]:
name="Naomi"
age=20
height=5
is_student=True
subjects= ["Math","Science","AI"]
coordinates=(22.5,85.4)
skills = {"Python","ML", "Data"}

student_info ={
    "name": name,
    "age": age,
    "height": height,
    "is_student": is_student
}
#result None: no value is returned

print("name:",name,type(name))
print("age:",age,type(age))

name: Naomi <class 'str'>
age: 20 <class 'int'>

Basic python variables
Dictionary creation
type(variable) shows data type of variable

In [2]:
x=2
y=3
print(x+y)

5

In [3]:
marks = 45 
if marks>=40:
    print("Grade:A")
elif marks >=30:
    print("Grade: B")
else:
    print("Grade:C")

Grade:A

Using if elif else loop

In [4]:
def find_max(numbers):
    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num
nums = [2, 9, 0, 15, 40]
print("Maximum number:", find_max(nums))

Maximum number: 40

Function with parameter
Using for loop to find largest number

In [5]:
def area_of_circle(radius):
    pi = 3.14159
    area = pi * radius * radius
    return area
r = 5
print("Area of circle:", area_of_circle(r))

Area of circle: 78.53975

In [6]:
def vowel(ch):
    return ch.lower() in "aeiou"
print(vowel('a'))
print(vowel('e'))

True
True