In [1]:
import sqlite3

#1. Connect to (or create) the database
conn = sqlite3.connect('example.db')
cursor = conn.cursor()

#2. Create a table
cursor.execute('''CREATE TABLE IF NOT EXISTS users
                  (id INTEGER PRIMARY KEY,
                  name TEXT NOT NULL,
                  age INTEGER,
                  salary REAL, 
                  is_active BOOLEAN, 
                  bio TEXT,
                  join_date DATETIME,
                  profile_picture BLOB,
                  misc_data NUMERIC,
                  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
                  )''')

In [2]:
cursor.execute('''INSERT INTO users (name, age, salary, is_active, bio, join_date, profile_picture, misc_data)
                    VALUES (?, ?, ?, ?, ?, ?, ?, ?)''',
                 ('Alice', 30, 70000.50, True, 'Loves programming', '2023-01-15 10:00:00', b'\x89PNG\r\n\x1a\n', 12345.67)) 
cursor.execute('''INSERT INTO users (name, age, salary, is_active, bio, join_date, profile_picture, misc_data)
                    VALUES (?, ?, ?, ?, ?, ?, ?, ?)''',
                    ('Bob', 25, 50000.00, False, 'Enjoys hiking', '2022-11-20 15:30:00', b'\x89PNG\r\n\x1a\n', 98765.43))

#4. query data from the table
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 30, 70000.5, 1, 'Loves programming', '2023-01-15 10:00:00', b'\x89PNG\r\n\x1a\n', 12345.67, '2026-01-20 08:26:04')
(2, 'Bob', 25, 50000.0, 0, 'Enjoys hiking', '2022-11-20 15:30:00', b'\x89PNG\r\n\x1a\n', 98765.43, '2026-01-20 08:26:04')

In [3]:
#5. Update data in the table
cursor.execute('UPDATE users SET salary = ? WHERE name = ?', (75000.00, 'Alice'))
print("Updated Alice's salary.")
cursor.execute('SELECT * FROM users WHERE name = ?', ('Alice',))
print(cursor.fetchone())

Updated Alice's salary.
(1, 'Alice', 30, 75000.0, 1, 'Loves programming', '2023-01-15 10:00:00', b'\x89PNG\r\n\x1a\n', 12345.67, '2026-01-20 08:26:04')

In [4]:
#6. Delete data from the table
cursor.execute('DELETE FROM users WHERE name = ?', ('Bob',))
print("Deleted Bob from the users table.")
cursor.execute('SELECT * FROM users')
print(cursor.fetchall())

Deleted Bob from the users table.
[(1, 'Alice', 30, 75000.0, 1, 'Loves programming', '2023-01-15 10:00:00', b'\x89PNG\r\n\x1a\n', 12345.67, '2026-01-20 08:26:04')]

In [5]:
conn.commit()
conn.close()

SQL Alchemy

In [6]:
from sqlalchemy import create_engine, Column, Integer, String, Float, Boolean, Text, DateTime, LargeBinary, Numeric, TIMESTAMP
from sqlalchemy.orm import declarative_base, sessionmaker

#1. Setup the connection
engine = create_engine('sqlite:///example.db', echo=True)
Base = declarative_base()

#2. Define a table (Model)
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    name = Column(String, nullable=False)
    
#3. Create the table in the database
Base.metadata.create_all(engine)

#4. Interact with data
Session = sessionmaker(bind=engine)
session = Session()

new_user = User(name="BE Computer")
session.add(new_user)
session.commit()

2026-01-20 14:11:15,006 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-20 14:11:15,007 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("users")
2026-01-20 14:11:15,008 INFO sqlalchemy.engine.Engine [raw sql] ()
2026-01-20 14:11:15,009 INFO sqlalchemy.engine.Engine COMMIT
2026-01-20 14:11:15,011 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2026-01-20 14:11:15,013 INFO sqlalchemy.engine.Engine INSERT INTO users (name) VALUES (?)
2026-01-20 14:11:15,013 INFO sqlalchemy.engine.Engine [generated in 0.00053s] ('BE Computer',)
2026-01-20 14:11:15,016 INFO sqlalchemy.engine.Engine COMMIT